<div class="firstDiv">
  <div class="details">
    <img src="me1.jpg" alt="">
    <div class="info">
      <h5>NAME:DARSHAN</h5>
      <h5>ROLLNO:737622XXXX</h5>
      <h5>YEAR:II</h5>
      <h5>DEPARTMENT:ECE</h5>
    </div>
  </div>
  <div class="rank">
    <h2 style="margin-top: 20px;">RANK</h2>
    <h1>1</h1>
  </div>
</div>
<div class="secondDiv">
  <div class="Sfirst">
    <h5 style="margin-top: 30px;font-weight: bold;">PLACEMENT CUMULATIVE FA%</h5>
    <h3>66.57</h3>
  </div>
  <div class="Ssecond">
    <h5 style="margin-top: 30px; font-weight: bold;">CUMULATIVE PLACEMENT FA%</h5>
    <h3>90.55</h3>
  </div>
  <div class="Sthird">
    <h5 style="margin-top: 30px; font-weight: bold;">ATTENDANCE%</h5>
    <h3>99.5</h3>
  </div>
</div>